.tile {
    border-radius: 5px;
    border: 1px solid black;
    padding: 4px;
    background-color: whitesmoke;
    transition: transform .2s;
    justify-self: center;
    align-self: center;
    box-shadow: 2px 2px 1px rgb(104, 104, 104);
}

.tile hr {
    border: 1px solid black;
    margin: 1px;
    padding: 0;
    border-radius: 1px;
}

.tile[direction="vertical"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 100px;
}

.tile[direction="horizontal"] {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
}

.tile[glow="true"] {
    box-shadow: 0 0 20px rgb(212, 216, 0);
}