.popup-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .5s;
    width: 60%;
}

.popup-header {
    background: #263238;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
}

.popup-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.popup-body {
    padding: 10px 15px;
    text-align: center;
}

.close-popup-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-popup-btn:hover {
    color: gray;
}