.dot-container {
    display: grid;
    grid-template-columns: repeat(3, 10px);
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.vertical-tile .dot-container {
    width: 100%;
    height: 50%;
}

.horizontal-tile .dot-container {
    width: 50%;
    height: 100%;
}

.dot-container .dot {
    border-radius: 50%;
    height: 10px;
}

/* -- 1 -- */
.dot-container[dots-number="1"] .dot[dot-number="4"] {
    background-color: black;
}

/* --2-- */
.dot-container[dots-number="2"] .dot[dot-number="0"],
.dot-container[dots-number="2"] .dot[dot-number="8"]{
    background-color: black;
}

/* --3-- */
.dot-container[dots-number="3"] .dot[dot-number="0"],
.dot-container[dots-number="3"] .dot[dot-number="4"],
.dot-container[dots-number="3"] .dot[dot-number="8"]{
    background-color: black;
}

/* --4-- */
.dot-container[dots-number="4"] .dot[dot-number="0"],
.dot-container[dots-number="4"] .dot[dot-number="2"],
.dot-container[dots-number="4"] .dot[dot-number="6"],
.dot-container[dots-number="4"] .dot[dot-number="8"]{
    background-color: black;
}

/* --5-- */
.dot-container[dots-number="5"] .dot[dot-number="0"],
.dot-container[dots-number="5"] .dot[dot-number="2"],
.dot-container[dots-number="5"] .dot[dot-number="4"],
.dot-container[dots-number="5"] .dot[dot-number="6"],
.dot-container[dots-number="5"] .dot[dot-number="8"]{
    background-color: black;
}

/* --6-- */
.dot-container[dots-number="6"] .dot[dot-number="0"],
.dot-container[dots-number="6"] .dot[dot-number="2"],
.dot-container[dots-number="6"] .dot[dot-number="3"],
.dot-container[dots-number="6"] .dot[dot-number="5"],
.dot-container[dots-number="6"] .dot[dot-number="6"],
.dot-container[dots-number="6"] .dot[dot-number="8"]{
    background-color: black;
}