.player {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 90px;
    background-color: rgb(151, 178, 205);
    transition: height 450ms ease-in-out 16ms;
    border-radius: 9px 9px 0 0;
    margin-left: -250px;
    font-size: 17px;
    width: 500px;
    display: flex;
    align-items:flex-end;
    padding: 8px;
}

.player .hand-deck {
     width: 80%;
     height: 150%;
     display: flex;
 }

.player .hand-deck .tile {
    margin: 0 2px 0 2px;
}

.player .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 20%
}

.player .title {
    text-align: left;
}

.player .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.player .avatar img {
    width: 50px;
    height: 50px;
}