.board {
    font-family: Verdana,Geneva,sans-serif;
    display: grid;
    grid-template-columns: repeat(20, 110px);
    grid-template-rows: repeat(20, 110px);
    width: 2200px;
    height: 2200px;
}